@import "variables";
@import "btn";

// Общие настройки

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    outline: none;
    padding: 0;
}

body {
    overflow: auto;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #000;
}

a {
    display: inline-block;
    text-decoration: none;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    color: #fff;

    &_light {
        color: #000;
        background-color: #f5f9fc;

        .logo {
            color: #3a414b;
        }
    }
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1460px;

    &_small {
        max-width: 730px;
    }
}

textarea,
input {
    appearance: none;
    border-radius: 0;
}

.tab {
    display: none;

    &.active {
        display: block;
        position: relative;
        z-index: 5;
    }
}

.alertify-notifier .ajs-message.ajs-warning {
    box-shadow: 0 0 3px #333;
    background: #fff;
}

.alertify-notifier .ajs-message.ajs-success {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    color: #fff;
    background: rgba(40, 136, 62, 0.9);
}

.alertify-notifier {
    z-index: 99998;
}